
# Ignore Python and Jupyter Caches
__pycache__
.ipynb_checkpoints
.gitignore.swp

# Ignore VSCode configuration files
.vscode/

# Ignore Data Sources and Storage
tweet_cache/
pandas_tweets.db
tweets.db*
tweets.*.db.gz
tweets (copy).db
tweets.db.old
tweet_cache.tar*
tweetsRickyRenuncia-final.jsonl
rrhydrated.jsonl

# Testing Environment Credential Files
twitter_secrets_testing.py
google_translate_keys_testing.json
