
# Ignore Python and Jupyter Caches
__pycache__
.ipynb_checkpoints
.gitignore.swp

# Ignore VSCode configuration files
.vscode/
tweet_cache/
pandas_tweets.db
tweets.db
tweets (copy).db
tweets.db.old
tweet_cache.tar.gz
tweetsRickyRenuncia-final.jsonl
rrhydrated.jsonl
